<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Good Boye Grades</title>
      <!-- Google Icon Fonts used by Materialize -->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <!-- Materialize CSS Framework -->
      <link rel="stylesheet" href="stylesheets/materialize.css" />
      <link href="https://fonts.googleapis.com/css?family=Ultra&display=swap" rel="stylesheet">
      <!-- JavaScript for Materialize -->
      <script type="text/javascript" src="js/materialize.js"></script>
  </head>
  <body>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../materialize/js/materialize.js"></script>
  </body>
</html>