.brand-logo {
  margin-left: 15px;
}

nav {
  background-color: #6A8EAE;
  margin: 20%;
  height: 30%;
  width: 60vw;
}

body {
  font-family: 'Ultra', serif;
  color: #63585E;
  background: #9BD1E5;
}

a {
  color: #63585E;
}

span {
  margin-left: 50px;
  height: 30%;
  width: 60vw;
}

.welcome {
  padding: 0 0 0 40px;
}