<!DOCTYPE html>
<html>

<head>
  <title>Good Boye Grades</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="stylesheets/materialize.css" />
  <link href="https://fonts.googleapis.com/css?family=Ultra&display=swap" rel="stylesheet">
  <!-- JavaScript for Materialize -->
  <script type="text/javascript" src="js/materialize.js"></script>
  
</head>

<body>
    <nav>
      <div class="nav-wrapper">
        <a href="/auth/google" class="brand-logo">GOOD BOYE GRADES</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">☰</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/dogs/home">START</a></li>
            <% if (user) { %>
          <li><a href="/logout">LOGOUT</a></li>
            <% } else { %>
          <li><a href="/auth/google">LOGIN</a></li>
            <% } %>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="/dogs/home">START</a></li>
        <% if (user) { %>
      <li><a href="/logout">LOGOUT</a></li>
        <% } else { %>
      <li><a href="/auth/google">LOGIN</a></li>
        <% } %>
    </ul>
  
    <a href="/auth/google">
      <img class="avatar-img" src="https://i.imgur.com/Zk1MaWN.png"><a href="/auth/google"></a></img>
    </a>

    <div class="home-subtext">
        <a href="/auth/google" style="color:white;">
          <div>GOOD BOYE GRADES</div>
        </a>
    </div>

  </body>
</html>