<!DOCTYPE html>
<html>

<head>
  <title>Good Boye Grades</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">Good Boye Grades</a>
        <ul class="right">
          <li>
            <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
                <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="welcome">
    <% if (user) { %>
      <div>
        To set a grade, type a number from 1 to 10 into the input box and click submit!
        <br>
        <a href="/dogs/home">Click here to begin!</a>
        <br>
        To access your previous grades <a href="/ratings/index">click here.</a>
      </div>
    <% } else { %>
      <div>Please login with a valid Google account</div>
    <% } %>
  </div>
</body>
</html>