<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Good Boye Grades</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Ultra&display=swap" rel="stylesheet">
    <style>
        #breedReveal {
            text-align: center;
            display: none;
        }

        body {
            font-family: 'Ultra', serif;
            color: #63585E;
            background: #9BD1E5;
            align-content: center;
        }

        .content {
            max-width: 500px;
            margin: auto;
        }

        h1 {
            color: #63585E;
            margin: 10% 0 5% 18%;
        }

        form {
            color: #63585E;
            margin: 0 0 2% 30%;
        }

        a {
            color: #63585E;
            margin: 0 0 0 35%;
            font-size: 22px;
        }

        input {
            background-color: #6A8EAE;
            border: 3px solid #ccc; 
            border-radius: 10px;
            border-color: grey; 
            height: 10%;
            width: 25%;
        }

        img {
            width: 100%;
        }
        
        button {
            background-color: #6A8EAE;
            color: #63585E;
            margin: 3% 0 3% 29%;
            width: 40%;
            border: 3px solid grey;
            border-radius: 10px;
            height: 10%; 
        }

        .num {
            width: 10%;
            background-color: white;
        }


        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
        }
    </style>
</head>
<body>
    <div class="content">
    <h1>Rate This Dog!</h1>
    <img src="<%= dog.url %>"/> <br>
    <form action="/dogs/home" method="POST">
        Grade: <input class="num" type="number" name="rating" min="1" max="10" default="5">
        <input type="submit" value="Submit">
        <input name="dog" type="hidden" value="<%=dog._id%>">
    </form>
    <br>
    <a href="/ratings/index">All Grades</a>
    <button onclick="myFunction()" style="color:black">Show Breed</button>
    <div id="breedReveal"> <%= dog.breed %> </div>
    <script>
        function myFunction() {
            var x = document.getElementById("breedReveal");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
    </div>
</body>
</html>
